.track-item-index-grid {
    display: grid;
    column-width: 20px;
    min-height: 100vh;
    max-height: 100%;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-areas: "....";
    gap: 5%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.track-index-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0px;
}