.track-index-grid-container {
    display: grid;
    grid-template-areas:
        "sideBar navBar navBar"
        "sideBar main main"
        "sideBar main main";
}

.track-index-container {
    grid-area: main;
    background-color: #1c1c1c;
}

.track-item-index-grid {
    display: grid;
    column-width: 20px;
    min-height: 100vh;
    max-height: 100%;
    margin-top: 2rem;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-areas: "....";
    gap: 5%;
    overflow: scroll;
    scroll-behavior: smooth;

}

.track-index-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0px;
}