.track-index-item {
    height: 30vh;
    width: 20vh;
    min-width: 100px;
    min-height: 150px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    color: white;
    font-weight: 16px;
    background: #252525;
}

.track-image img{
    width: 100%;
    height: auto;
}

.track-title {
    font-size: 0.8rem;
    font-weight: 700;
    width: none;
    padding-block: 0.8rem;
}

.artist-name {
    color: rgb(161, 161, 161);
    font-size: 0.7rem;
    
    overflow: hidden;
    text-overflow: ellipsis;

}