.playlist-dropdown {
    position: absolute;
    z-index: 9999;
    background-color: #514c4c;
    transform: translate(135px, 10px);
    border-radius:5px;
    display: flex;
    flex-direction: column;
}

.playlist-dropdown-content {
    
}

.user-playlists-dropdown-index-list {
    
}