.splash-page-flex-container {
    display: flex;
    width:100%
    /* display: grid;
    grid-template-areas:
        "sideBar navBar navBar"
        "sideBar main main"
        "sideBar main main" ; */
}

.splash-page-container {
    /* grid-area: main; */
    display:flex;
    flex-direction: column;
    background-color: #1c1c1c;
    width: 100%;
    /* position: relative;
    left: 20%;
    width: 80%;
    background-color: #1c1c1c;
    padding: 20px; */
}

.time {
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0px;
}

.start-listening {
    color: white;
    font-size: 32px;
    font-weight: 700;
    padding: 20px 0px;
}

.tracks-index-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}


.tracks-index-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 110px 40px 0px;
}

.tracks-index-title {
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding-top: 20px;
}

.tracks-index-header a {
    padding-top: 30px;
    font-size: 14px;  
    font-weight: 700; 
}

.splash-random-tracks {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 100vh;
    margin-top: 2rem;
    height: 100%;
    /* display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-areas: "....";
    gap: 5%; */
}
